.bodyText {
    width: 700px;
    margin: auto;
    /* background: lightblue; */
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
}

body {
    background-size: 100% auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
}